.form-box
  .form-wrapper
    h2
      | アカウント編集
    = form_with model: resource, url: registration_path(resource_name), method: :put  do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-field
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        div
          | Currently waiting confirmation for:
          = resource.unconfirmed_email
      .form-field
        = f.label :name
        br
        = f.text_field :name, autocomplete: "name"
      .form-field
        = f.label :user_id
        br
        = f.text_field :user_id, autocomplete: "user_id"
      .form-field
        = f.label :password
        i
          | (変更する場合)
        br
        = f.password_field :password, autocomplete: "new-password"
        - if @minimum_password_length
          br
          em
            = @minimum_password_length
            | 文字以上入力してください
      .form-field
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .form-field
        = f.label :current_password
        i
          | (更新時)
        br
        = f.password_field :current_password, autocomplete: "current-password"
      .actions
        = f.submit "更新", class: "btn btn-light"
    p
      = button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか?" }, method: :delete
    = link_to "Back", :back
